@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #bfdbd7, #7adacf);
    background: linear-gradient(to right, #bfdbd7, #7adacf);


    margin: 20px;
    padding: 10px;
}

* {
    padding: 0;
    margin: 0;
}

/*Intro*/
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.introdetail {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 1fr 0fr 0fr;
}

.introdetail p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: start;
}

.introdetail img {
    margin: auto;
    height: 380px;
    width: auto;
    border: solid#000000;
}

/*Skillek*/

.skills h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 20px;
}

.skills .icons {
    margin-left: 20px;
}

/*Contacts*/

.contacts h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 20px;
}

.contacticons {
    margin-left: 20px;
}

/*Projektek 1(külső)*/

.projectsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: center;
}

.projectsgrid a {
    text-decoration: none;
}

/*Projektek 2(belső)*/

.projects h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 20px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 56px;
    color: #000000;
    text-align: center;
}

.description {
    transition: all 1s ease-in-out;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 60px;
    margin-bottom: 60px;

}


.description h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
    overflow-wrap: break-word;
}

.tech-stack {
    padding-top: 15px;
}

.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #05011b;
    border-right: 100px solid transparent;
}

.rigth-top-corner {
    left: auto;
    right: 0;
    transform: rotate(90deg);
}

.left-bottom-corner {
    top: auto;
    bottom: 0;
    transform: rotate(-90deg);
}

.github-icon {
    position: absolute;
    right: 8px;
    top: 8px;
}

.link-icon {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.card {
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 300px;
    width: 300px;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26px 0 26px 0;
    transition: all 1s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}

/*Hover*/

.card:hover .title,
.card:hover .description {
    height: 0%;
}

.card:hover h4 {
    transition: all 1s ease-in-out;
    color: transparent;
}

.card:hover {
    background-color: #c4fff8;
}

.card:hover p {
    text-align: center;
    margin: auto
}